@import "fonts";
@import "defaults";
@import "nav";
@import "showcase";
@import "top-products";
@import "game-zone";
@import "news";
@import "credits";
@import "footer";

.brends {
  padding: 50px 0;

  &__txt {
    font-size: 36px;
    margin-bottom: 40px;
  }

  &__cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    &__card {
      width: 100px;
      &__img {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

//Products

.product {
  margin-top: 40px;
  &__top {
    &__stars {
      &__p {
        opacity: 0.7;
      }
    }
    &__category {
      margin-top: 10px;
      a {
        color: #333333;
        margin-left: 10px;
      }
    }
  }
}
.about {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  &__left {
    width: 50%;
    &__images {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      &__left {
        display: flex;
        flex-direction: column;
        width: 20%;
        &__img {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
      &__right {
        width: 75%;
        img {
          width: 100%;
        }
      }
    }
    &__charackter {
      margin-top: 30px;
      &__list {
        margin-top: 30px;
        &__item {
          display: flex;
          justify-content: space-between;
          padding: 5px 0;
          &:nth-child(odd) {
            background-color: #f4f8fb;
          }
          &__left {
            width: 50%;
          }
          &__right {
            width: 50%;
          }
        }
      }
    }
    &__info {
      margin-top: 40px;
      &__h4 {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
  &__right {
    width: 50%;
    &__top {
      &__top {
        display: flex;
        justify-content: space-between;
        &__grey {
          width: 50%;
          height: 50px;
          background-color: #c4c4c4;
        }
        &__check {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
      &__cen {
        width: 80%;
        height: 70px;
        background-color: #c4c4c4;
        margin-top: 30px;
      }
      &__bottom {
        display: flex;
        margin-top: 30px;
        gap: 20px;
        &__cost {
          color: #e93232;
        }
        &__btn {
          button {
            padding: 5px 10px;
            background-color: #06a56c;
            color: #fff;
            border: #06a56c 1px solid;
            border-radius: 4px;
            cursor: pointer;
          }
          &:last-child {
            button {
              background-color: #fff;
              color: #06a56c;
            }
          }
        }
      }
    }
    &__delivery {
      box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
      padding: 10px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
          display: flex;
          align-items: center;
          gap: 10px;
          &__txt {
            font-size: 17px;
          }
        }
      }
    }
    &__comments {
      margin-top: 30px;
      &__cards {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        &__card {
          box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
          padding: 10px;
          border-radius: 6px;
          display: flex;
          gap: 10px;
          p {
            margin-top: 10px;
          }
          h5 {
            margin-top: 10px;
            font-size: 17px;
          }
          &__info {
            &__bottom {
              margin-top: 10px;
              display: flex;
              justify-content: space-between;
              &__reply {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
    }
  }
}
@media (max-width: 600px) {
  .product__top__title {
    font-size: 20px;
  }
  .about {
    flex-direction: column;
    &__left {
    }
    &__right {
      &__top {
        &__bottom {
          flex-wrap: wrap;
        }
      }
      &__delivery {
        &__item {
          gap: 10px;
          &__title {
            &__txt {
              font-size: 14px;
            }
          }
          &__date {
            font-size: 14px;
          }
          &__cost {
            font-size: 14px;
          }
        }
      }
      &__comments {
        &__cards {
          &__card {
            p {
              font-size: 14px;
              margin-top: 6px;
            }
            h5 {
              font-size: 14px;
              margin-top: 6px;
            }
            h3 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .about {
    &__left {
      &__charackter {
        &__h {
          font-size: 20px;
        }
        &__list {
          &__item {
            &__left {
              width: 40%;
            }
            &__right {
              width: 60%;
            }
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
    &__right {
      &__top {
        &__bottom {
          flex-wrap: wrap;
        }
      }
      &__delivery {
        &__item {
          gap: 10px;
          &__title {
            &__txt {
              font-size: 11px;
            }
          }
          &__date {
            font-size: 11px;
          }
          &__cost {
            font-size: 11px;
          }
        }
      }
      &__comments {
        &__cards {
          &__card {
            flex-direction: column;
            p {
              font-size: 13px;
              margin-top: 6px;
            }
            h5 {
              font-size: 13px;
              margin-top: 6px;
            }
            h3 {
              font-size: 16px;
            }
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .about {
    &__right {
      &__delivery {
        &:first-child {
          background-color: #333333;
        }
        &__item {
          gap: 10px;
          &__title {
            &__txt {
              font-size: 10px;
            }
          }
          &__date {
            display: none !important;
          }
          &__cost {
            font-size: 10px;
          }
        }
      }
      &__comments {
        &__cards {
          &__card {
            flex-direction: column;
            p {
              font-size: 13px;
              margin-top: 6px;
            }
            h5 {
              font-size: 13px;
              margin-top: 6px;
            }
            h3 {
              font-size: 16px;
            }
            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

.top__cards__card {
  display: block !important;
}

.cheap {
  margin-top: 100px;
  box-shadow: 0px 2px 10px rgba(50, 50, 71, 0.14);
  padding: 20px 20px;
  border-radius: 4px;
  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    &__card {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 50%;
      &__img {
        width: 40%;
        img {
          width: 100%;
        }
      }
      &__info {
        h3 {
          font-size: 16px;
          font-weight: 500;
        }
        p {
          color: #e93232;
          margin-top: 10px;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    &__right {
      display: flex;
      gap: 10px;
      &__cost {
        h3 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
          color: #06a56c;
        }
      }
      button {
        background-color: #06a56c;
        border: none;
        color: #fff;
        padding: 0 10px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}


@media (max-width:1000px) {
  .cheap{
    &__cards{
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
      &__card{
        width: 80%;
        &__img{
          width: 30%;
        }
      }
    }
  }
}
@media (max-width:700px) {
  .cheap{
    &__cards{
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
      &__card{
        width: 90%;
        &__img{
          width: 35%;
        }
        &__info{
          h3{
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width:550px) {
  .cheap{
    &__cards{
      &__card{
        width: 100%;
        &__img{
          width: 40%;
        }
        &__info{
          width: 60%;
          h3{
            font-size: 14px;
          }
        }
      }
    }
  }
}